In [1]:
from pyspark.sql import SparkSession, Row

spark = SparkSession.builder.appName("RowExample").getOrCreate()

your 131072x1 screen size is bogus. expect trouble
25/08/19 13:01:44 WARN Utils: Your hostname, KLZPC0015 resolves to a loopback address: 127.0.1.1; using 172.25.17.96 instead (on interface eth0)
25/08/19 13:01:44 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/08/19 13:01:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/08/19 13:02:01 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
data = [
    (1, "Dipankar", 27),
    (2, "Shankha", 26),
    (3, "Tuhin", 27)
]

df = spark.createDataFrame(data)
df.show()

df.printSchema()

+---+--------+---+
| _1|      _2| _3|
+---+--------+---+
|  1|Dipankar| 27|
|  2| Shankha| 26|
|  3|   Tuhin| 27|
+---+--------+---+

root
 |-- _1: long (nullable = true)
 |-- _2: string (nullable = true)
 |-- _3: long (nullable = true)

In [3]:
df = df.toDF("id", "name", "age")
df.show()

+---+--------+---+
| id|    name|age|
+---+--------+---+
|  1|Dipankar| 27|
|  2| Shankha| 26|
|  3|   Tuhin| 27|
+---+--------+---+

In [4]:
data = [
    (1, "Dipankar", 27),
    (2, "Shankha", 26),
    (3, "Tuhin", 27)
]

df = spark.createDataFrame(data).toDF("id", "name", "age")
df.show()

+---+--------+---+
| id|    name|age|
+---+--------+---+
|  1|Dipankar| 27|
|  2| Shankha| 26|
|  3|   Tuhin| 27|
+---+--------+---+

In [5]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)