- colRegex() allows you to select columns in a DataFrame using regular expressions.

In [6]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("colRegexFunctionExample").getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/09/09 14:03:02 WARN Utils: Your hostname, KLZPC0015, resolves to a loopback address: 127.0.1.1; using 172.25.17.96 instead (on interface eth0)
25/09/09 14:03:02 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/09/09 14:03:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/09/09 14:03:17 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/09/09 14:03:17 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [7]:
# create sample dataframes
data = [
    (1, "Manta", 75000, "IT", 24),
    (2, "Dipankar", 30000, "Post Master", 27),
    (3, "Souvik", 60000, "Army Officer", 27),
    (4, "Soukarjya", 45000, "BDO", None),
    (5, "Arvind", 35000, "Business Data Analyst", 28),
    (6, "Prodipta", 25000, "Data Analyst", 28),
    (7, "Padma", 20000, "Data Analyst", 27),
    (8, "Panta", 125000, "Business Analyst", 27),
    (9, "Sougato", 25000, "Para Medical Stuff", 29)
]

columns = ["id", "name", "dept_salary", "dept_name", "age"]

df = spark.createDataFrame(data, schema=columns)
df.show()

+---+---------+-----------+--------------------+----+
| id|     name|dept_salary|           dept_name| age|
+---+---------+-----------+--------------------+----+
|  1|    Manta|      75000|                  IT|  24|
|  2| Dipankar|      30000|         Post Master|  27|
|  3|   Souvik|      60000|        Army Officer|  27|
|  4|Soukarjya|      45000|                 BDO|NULL|
|  5|   Arvind|      35000|Business Data Ana...|  28|
|  6| Prodipta|      25000|        Data Analyst|  28|
|  7|    Padma|      20000|        Data Analyst|  27|
|  8|    Panta|     125000|    Business Analyst|  27|
|  9|  Sougato|      25000|  Para Medical Stuff|  29|
+---+---------+-----------+--------------------+----+

In [10]:
# select columns that start with 'dept_'
print("Selecting columns that start with 'dept_': ")
df.select(df.colRegex("`dept_.*`")).show()

Selecting columns that start with 'dept_':

+-----------+--------------------+
|dept_salary|           dept_name|
+-----------+--------------------+
|      75000|                  IT|
|      30000|         Post Master|
|      60000|        Army Officer|
|      45000|                 BDO|
|      35000|Business Data Ana...|
|      25000|        Data Analyst|
|      20000|        Data Analyst|
|     125000|    Business Analyst|
|      25000|  Para Medical Stuff|
+-----------+--------------------+

In [12]:
# select columns that end with 'name'
print("selecting columns that end with 'name': ")
df.select(df.colRegex("`.*name$`")).show()

selecting columns that end with 'name':

+---------+--------------------+
|     name|           dept_name|
+---------+--------------------+
|    Manta|                  IT|
| Dipankar|         Post Master|
|   Souvik|        Army Officer|
|Soukarjya|                 BDO|
|   Arvind|Business Data Ana...|
| Prodipta|        Data Analyst|
|    Padma|        Data Analyst|
|    Panta|    Business Analyst|
|  Sougato|  Para Medical Stuff|
+---------+--------------------+

In [13]:
# select columns that contain 'sal' 
print("selecting columns that contain 'sal': ")
df.select(df.colRegex("`.*sal.*`")).show()

selecting columns that contain 'sal':

+-----------+
|dept_salary|
+-----------+
|      75000|
|      30000|
|      60000|
|      45000|
|      35000|
|      25000|
|      20000|
|     125000|
|      25000|
+-----------+