In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("getColumnsFunctionExample").getOrCreate()

In [ ]:
# create sample dataframes
data = [
    (1, "Manta", 2023, "Product A", 240),
    (2, "Dipankar", 2024, "Product A", 270),
    (3, "Souvik", 2022, "Product B", 270),
    (4, "Soukarjya", 2025, "Product A", None),
    (5, "Arvind", 2022, "Product C", 280),
    (6, "Prodipta", 2022, "Product B", 280),
    (7, "Padma", 2025, "Product A", 270),
    (8, "Panta", 2023, "Product C", 270),
    (9, "Sougato", 2022, "Product B", 290)
]

columns = ["id", "name", "year", "product", "revenue"]

df = spark.createDataFrame(data, schema=columns)
df.show()

- to get a colum in PySpark

In [ ]:
# using dot notation (.)
# this uses __getattr__() behind the scenes
df.select(df.name).show()

In [ ]:
# using square brackets []
# this uses __getitem__() behind the scenes
df.select(df["name"]).show()

- to filter and use columns

In [ ]:
# filter where age > 28 using dot notation
df.filter(df.age > 28).show()

In [ ]:
# filter where age==30 using square brackets
df.filter(df['age'] == 30).show()

In [ ]:
# add 5 to age and show name with new age
df.select(df.name, (df.age + 5).alias("age_plus_5")).show()

In [ ]:
# multiply age by 2 using square brackets
df.select(df["name"], (df["age"] * 2).alias("age_times_2")).show()

- to get columnnames and column order

In [ ]:
# get all column names (returns a list)
df.columns

- Summary:
    - df.name is short and easy, but only works with simple column names
    - df["name"] is safer, works even with spaces or special characters in column names
    - both give you a column object
    - df.columns returns a list of all columns (useful to see order)