- columns() function in PySpark returns a list of column names in the DtaFrame.
- It is useful to quickly inspect or programmatically access column names.

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('ColumnFunctionExample').getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/09/09 14:58:49 WARN Utils: Your hostname, KLZPC0015, resolves to a loopback address: 127.0.1.1; using 172.25.17.96 instead (on interface eth0)
25/09/09 14:58:49 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/09/09 14:59:03 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/09/09 14:59:06 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/09/09 14:59:06 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
25/09/09 14:59:06 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [2]:
# create sample dataframes
data = [
    (1, "Manta", 75000, "IT", 24),
    (2, "Dipankar", 30000, "Post Master", 27),
    (3, "Souvik", 60000, "Army Officer", 27),
    (4, "Soukarjya", 45000, "BDO", None),
    (5, "Arvind", 35000, "Business Data Analyst", 28),
    (6, "Prodipta", 25000, "Data Analyst", 28),
    (7, "Padma", 20000, "Data Analyst", 27),
    (8, "Panta", 125000, "Business Analyst", 27),
    (9, "Sougato", 25000, "Para Medical Stuff", 29)
]

columns = ["id", "name", "dept_salary", "dept_name", "age"]

df = spark.createDataFrame(data, schema=columns)
df.show()

+---+---------+-----------+--------------------+----+
| id|     name|dept_salary|           dept_name| age|
+---+---------+-----------+--------------------+----+
|  1|    Manta|      75000|                  IT|  24|
|  2| Dipankar|      30000|         Post Master|  27|
|  3|   Souvik|      60000|        Army Officer|  27|
|  4|Soukarjya|      45000|                 BDO|NULL|
|  5|   Arvind|      35000|Business Data Ana...|  28|
|  6| Prodipta|      25000|        Data Analyst|  28|
|  7|    Padma|      20000|        Data Analyst|  27|
|  8|    Panta|     125000|    Business Analyst|  27|
|  9|  Sougato|      25000|  Para Medical Stuff|  29|
+---+---------+-----------+--------------------+----+

In [3]:
# Use columns() to list column names
print("List of columns in the DataFrame: ")
print(df.columns)

List of columns in the DataFrame:
['id', 'name', 'dept_salary', 'dept_name', 'age']

In [4]:
# can also loop through columns 
for col in df.columns:
    print(col)

id
name
dept_salary
dept_name
age