- The cube() function in PySpark is used for multi-dimentional aggregation.
- It computes aggregates for all combinations of a group of columns, including subtotals and grand totals.
- It is useful when you need reports similar to OLAP cube aggregations.

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import sum

spark = SparkSession.builder.appName("CubeFunctionExample").getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/09/08 15:17:25 WARN Utils: Your hostname, KLZPC0015, resolves to a loopback address: 127.0.1.1; using 172.25.17.96 instead (on interface eth0)
25/09/08 15:17:25 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/09/08 15:17:35 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/09/08 15:17:38 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/09/08 15:17:38 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
25/09/08 15:17:38 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
25/09/08 15:17:38 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
25/09/08 15:17:38 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
25/09/08 15:17:38 WARN Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.
25/09/08 15:17:38 WARN Utils: Service 'SparkUI' could not bind on port 4046. Attempting port 4047.

In [2]:
# create sample dataframes
data = [
    (1, "Manta", 75000, "IT", 24),
    (2, "Dipankar", 30000, "Post Master", 27),
    (3, "Souvik", 60000, "Army Officer", 27),
    (4, "Soukarjya", 45000, "BDO", None),
    (5, "Arvind", 35000, "Business Analyst", 28),
    (6, "Prodipta", 25000, "Data Analyst", 28),
    (7, "Padma", 20000, "Data Analyst", 27),
    (8, "Panta", 125000, "Business Analyst", 27),
    (9, "Sougato", 25000, "IT", 29)
]

columns = ["id", "name", "salary", "department", "age"]

df = spark.createDataFrame(data, schema=columns)
df.show()

+---+---------+------+----------------+----+
| id|     name|salary|      department| age|
+---+---------+------+----------------+----+
|  1|    Manta| 75000|              IT|  24|
|  2| Dipankar| 30000|     Post Master|  27|
|  3|   Souvik| 60000|    Army Officer|  27|
|  4|Soukarjya| 45000|             BDO|NULL|
|  5|   Arvind| 35000|Business Analyst|  28|
|  6| Prodipta| 25000|    Data Analyst|  28|
|  7|    Padma| 20000|    Data Analyst|  27|
|  8|    Panta|125000|Business Analyst|  27|
|  9|  Sougato| 25000|              IT|  29|
+---+---------+------+----------------+----+

In [3]:
cube_df = df.cube("department", "name").agg(sum("salary").alias("total_salary"))

print("Result of cube(): ")
cube_df.orderBy("department", "name").show()

Result of cube():

+----------------+---------+------------+
|      department|     name|total_salary|
+----------------+---------+------------+
|            NULL|     NULL|      440000|
|            NULL|   Arvind|       35000|
|            NULL| Dipankar|       30000|
|            NULL|    Manta|       75000|
|            NULL|    Padma|       20000|
|            NULL|    Panta|      125000|
|            NULL| Prodipta|       25000|
|            NULL|  Sougato|       25000|
|            NULL|Soukarjya|       45000|
|            NULL|   Souvik|       60000|
|    Army Officer|     NULL|       60000|
|    Army Officer|   Souvik|       60000|
|             BDO|     NULL|       45000|
|             BDO|Soukarjya|       45000|
|Business Analyst|     NULL|      160000|
|Business Analyst|   Arvind|       35000|
|Business Analyst|    Panta|      125000|
|    Data Analyst|     NULL|       45000|
|    Data Analyst|    Padma|       20000|
|    Data Analyst| Prodipta|       25000|
+----------------+---------+------------+
only showing top 20 rows

In [ ]:
# stop spark session
spark.stop()