In [1]:
from pyspark.sql import SparkSession, Row

spark = SparkSession.builder.appName("RowExample").getOrCreate()

your 131072x1 screen size is bogus. expect trouble
25/08/20 07:22:19 WARN Utils: Your hostname, KLZPC0015 resolves to a loopback address: 127.0.1.1; using 172.25.17.96 instead (on interface eth0)
25/08/20 07:22:19 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/08/20 07:22:22 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [12]:
data = [
    (1, "Manta", 75000, "IT", 24),
    (2, "Dipankar", 30000, "Post Master", 27),
    (3, "Souvik", 60000, "Army Officer", 27),
    (4, "Soukarjya", 45000, "BDO", 'null'),
    (5, "Arvind", 35000, "Business Data Analyst", 28),
    (6, "Prodipta", 25000, "Data Analyst", 28),
    (7, "Padma", 20000, "Data Analyst", 27),
    (8, "Panta", 125000, "Business Analyst", 27)
]

In [13]:
df = spark.createDataFrame(data, ["id", "name", "salary", "department", "age"])
df.show()

+---+---------+------+--------------------+----+
| id|     name|salary|          department| age|
+---+---------+------+--------------------+----+
|  1|    Manta| 75000|                  IT|  24|
|  2| Dipankar| 30000|         Post Master|  27|
|  3|   Souvik| 60000|        Army Officer|  27|
|  4|Soukarjya| 45000|                 BDO|null|
|  5|   Arvind| 35000|Business Data Ana...|  28|
|  6| Prodipta| 25000|        Data Analyst|  28|
|  7|    Padma| 20000|        Data Analyst|  27|
|  8|    Panta|125000|    Business Analyst|  27|
+---+---------+------+--------------------+----+

In [14]:
print("Summary statistics for numerical columns: ")
df.describe().show()

Summary statistics for numerical columns:

+-------+-----------------+------+-----------------+------------+------------------+
|summary|               id|  name|           salary|  department|               age|
+-------+-----------------+------+-----------------+------------+------------------+
|  count|                8|     8|                8|           8|                 8|
|   mean|              4.5|  NULL|          51875.0|        NULL|26.857142857142858|
| stddev|2.449489742783178|  NULL|34840.19640751593|        NULL|1.3451854182690985|
|    min|                1|Arvind|            20000|Army Officer|                24|
|    max|                8|Souvik|           125000| Post Master|              null|
+-------+-----------------+------+-----------------+------------+------------------+

In [15]:
print("Summary statistics for 'salary' and 'age': ")
df.describe("salary", "age").show()

Summary statistics for 'salary' and 'age':

+-------+-----------------+------------------+
|summary|           salary|               age|
+-------+-----------------+------------------+
|  count|                8|                 8|
|   mean|          51875.0|26.857142857142858|
| stddev|34840.19640751593|1.3451854182690985|
|    min|            20000|                24|
|    max|           125000|              null|
+-------+-----------------+------------------+