In [1]:
from pyspark.sql import SparkSession, Row

spark = SparkSession.builder.appName("RowExample").getOrCreate()

your 131072x1 screen size is bogus. expect trouble
25/08/19 13:01:44 WARN Utils: Your hostname, KLZPC0015 resolves to a loopback address: 127.0.1.1; using 172.25.17.96 instead (on interface eth0)
25/08/19 13:01:44 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/08/19 13:01:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/08/19 13:02:02 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/08/19 13:02:02 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

### Creating DataFrame from a List of Tuples (Static Values)

In [2]:
data = [
    {"id": 1, "name": "Souvik", "age": 26},
    {"id": 2, "name": "Soukajya", "age": 26},
    {"id": 3, "name": "Akash", "age": 27}
]

In [3]:
df = spark.createDataFrame(data)
df.show()

+---+---+--------+
|age| id|    name|
+---+---+--------+
| 26|  1|  Souvik|
| 26|  2|Soukajya|
| 27|  3|   Akash|
+---+---+--------+

In [4]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)