In [1]:
from pyspark.sql import SparkSession, Row

spark = SparkSession.builder.appName("RowExample").getOrCreate()

your 131072x1 screen size is bogus. expect trouble
25/08/19 13:02:06 WARN Utils: Your hostname, KLZPC0015 resolves to a loopback address: 127.0.1.1; using 172.25.17.96 instead (on interface eth0)
25/08/19 13:02:06 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/08/19 13:02:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/08/19 13:02:17 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/08/19 13:02:17 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
25/08/19 13:02:17 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

### Creating DataFrame from a List of Tuples (Static Values)

In [2]:
data = [
    Row(name="Souvik", age=26, id=1),
    Row(name="Soukajya", age=26, id=2),
    Row(age=27, id=3, name="Akash")
]

In [3]:
df = spark.createDataFrame(data)
df.show()

+--------+---+----+
|    name|age|  id|
+--------+---+----+
|  Souvik| 26|   1|
|Soukajya| 26|   2|
|      27|  3|NULL|
+--------+---+----+

#### To fix this column order issue -

##### Option 1: Use Consistant Row defination

In [4]:
data = [
    Row(name="Souvik", age=26, id=1),
    Row(name="Soukajya", age=26, id=2),
    Row(name="Akash", age=27, id=3)   # fixed order
]

df = spark.createDataFrame(data)
df.show()

+--------+---+---+
|    name|age| id|
+--------+---+---+
|  Souvik| 26|  1|
|Soukajya| 26|  2|
|   Akash| 27|  3|
+--------+---+---+

##### Option 2: Define a schema explicitly

In [5]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

schema = StructType([
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True),
    StructField("id", IntegerType(), True),
])


df = spark.createDataFrame(data, schema=schema)
df.show()

+--------+---+---+
|    name|age| id|
+--------+---+---+
|  Souvik| 26|  1|
|Soukajya| 26|  2|
|   Akash| 27|  3|
+--------+---+---+

In [6]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- id: integer (nullable = true)