- intersect(): returns the intersection of two DataFrames (distinct rows only).
- intersectAll(): returns the intersections of DataFrames (including duplicates).

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("IntersectExample").getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/09/08 10:29:31 WARN Utils: Your hostname, KLZPC0015, resolves to a loopback address: 127.0.1.1; using 172.25.17.96 instead (on interface eth0)
25/09/08 10:29:31 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/09/08 10:29:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/09/08 10:29:43 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/09/08 10:29:43 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
25/09/08 10:29:43 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
25/09/08 10:29:43 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
25/09/08 10:29:43 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.

In [18]:
# create sample dataframes
data1 = [
    (1, "Dipankar", 27),
    (1, "Dipankar", 27),
    (2, "Shankha", 26),
    (2, "Shankha", 26),
    (3, "Tuhin, one of my highter secondary school friend, who is a cousin brother of my another secondary school friend", 27)
]

df1 = spark.createDataFrame(data1).toDF("id", "name", "age")
df1.show()

+---+--------------------+---+
| id|                name|age|
+---+--------------------+---+
|  1|            Dipankar| 27|
|  1|            Dipankar| 27|
|  2|             Shankha| 26|
|  2|             Shankha| 26|
|  3|Tuhin, one of my ...| 27|
+---+--------------------+---+

In [19]:
# create sample dataframes
data2 = [
    (1, "Dipankar", 27), # duplicate row for demonstration
    (2, "Shankha", 26),
    (2, "Akash", 29),
    (3, "Soukarjya", 25),
    (4, "Soukarjya", 26),
    (1, "Dipankar", 27)
]
columns = ["id", "name", "age"]

df2 = spark.createDataFrame(data2, schema=columns)
df2.show()

+---+---------+---+
| id|     name|age|
+---+---------+---+
|  1| Dipankar| 27|
|  2|  Shankha| 26|
|  2|    Akash| 29|
|  3|Soukarjya| 25|
|  4|Soukarjya| 26|
|  1| Dipankar| 27|
+---+---------+---+

In [20]:
# using intersect()
print("using intersect(): ")
intersect_df = df1.intersect(df2)
intersect_df.show()

using intersect():

+---+--------+---+
| id|    name|age|
+---+--------+---+
|  2| Shankha| 26|
|  1|Dipankar| 27|
+---+--------+---+

In [21]:
# using intersectAll()
print("using intersectAll(): ")
intersect_all_df = df1.intersectAll(df2)
intersect_all_df.show()

using intersectAll():

+---+--------+---+
| id|    name|age|
+---+--------+---+
|  1|Dipankar| 27|
|  1|Dipankar| 27|
|  2| Shankha| 26|
+---+--------+---+