In [1]:
from pyspark.sql import SparkSession, Row

spark = SparkSession.builder.appName("RowExample").getOrCreate()

your 131072x1 screen size is bogus. expect trouble
25/08/20 07:00:56 WARN Utils: Your hostname, KLZPC0015 resolves to a loopback address: 127.0.1.1; using 172.25.17.96 instead (on interface eth0)
25/08/20 07:00:56 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/08/20 07:00:58 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/08/20 07:01:00 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
data = [
    (1, "Manta", 75000, "IT", 24),
    (2, "Dipankar", 30000, "Post Master", 27),
    (3, "Souvik", 60000, "Army Officer", 27),
    (4, "Soukarjya", 45000, "BDO", 26),
    (5, "Arvind", 35000, "Business Data Analyst", 28),
    (6, "Prodipta", 25000, "Data Analyst", 28),
    (7, "Padma", 20000, "Data Analyst", 27),
    (8, "Panta", 125000, "Business Analyst", 27)
]

In [3]:
df = spark.createDataFrame(data, ["id", "name", "salary", "department", "age"])
df.show()

+---+---------+------+--------------------+---+
| id|     name|salary|          department|age|
+---+---------+------+--------------------+---+
|  1|    Manta| 75000|                  IT| 24|
|  2| Dipankar| 30000|         Post Master| 27|
|  3|   Souvik| 60000|        Army Officer| 27|
|  4|Soukarjya| 45000|                 BDO| 26|
|  5|   Arvind| 35000|Business Data Ana...| 28|
|  6| Prodipta| 25000|        Data Analyst| 28|
|  7|    Padma| 20000|        Data Analyst| 27|
|  8|    Panta|125000|    Business Analyst| 27|
+---+---------+------+--------------------+---+

In [4]:
print("Using limit of 5: ")
df.limit(5).show()

Using limit of 5:

+---+---------+------+--------------------+---+
| id|     name|salary|          department|age|
+---+---------+------+--------------------+---+
|  1|    Manta| 75000|                  IT| 24|
|  2| Dipankar| 30000|         Post Master| 27|
|  3|   Souvik| 60000|        Army Officer| 27|
|  4|Soukarjya| 45000|                 BDO| 26|
|  5|   Arvind| 35000|Business Data Ana...| 28|
+---+---------+------+--------------------+---+

In [6]:
df_limited = df.limit(3)
print("Stored Limited DataFrame of 3 records: ")
df_limited.show()

Stored Limited DataFrame of 3 records:

+---+--------+------+------------+---+
| id|    name|salary|  department|age|
+---+--------+------+------------+---+
|  1|   Manta| 75000|          IT| 24|
|  2|Dipankar| 30000| Post Master| 27|
|  3|  Souvik| 60000|Army Officer| 27|
+---+--------+------+------------+---+

In [7]:
df_limited = df.orderBy("salary").limit(3)
print("Stored Limited DataFrame of 3 records: ")
df_limited.show()

Stored Limited DataFrame of 3 records:

+---+--------+------+------------+---+
| id|    name|salary|  department|age|
+---+--------+------+------------+---+
|  7|   Padma| 20000|Data Analyst| 27|
|  6|Prodipta| 25000|Data Analyst| 28|
|  2|Dipankar| 30000| Post Master| 27|
+---+--------+------+------------+---+

In [8]:
from pyspark.sql.functions import col

df_limited = df.orderBy(col("salary").desc()).limit(3)
print("Stored Limited DataFrame of 3 records: ")
df_limited.show()

Stored Limited DataFrame of 3 records:

+---+------+------+----------------+---+
| id|  name|salary|      department|age|
+---+------+------+----------------+---+
|  8| Panta|125000|Business Analyst| 27|
|  1| Manta| 75000|              IT| 24|
|  3|Souvik| 60000|    Army Officer| 27|
+---+------+------+----------------+---+