- Melt converts a DataFrame from wide format to long format.
- It unpivots columns into rows, making the DataFrame taller and narrower.

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("PySparkBuilt-inMeltExample").getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/09/15 09:45:09 WARN Utils: Your hostname, KLZPC0015, resolves to a loopback address: 127.0.1.1; using 172.25.17.96 instead (on interface eth0)
25/09/15 09:45:09 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/09/15 09:45:24 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/09/15 09:45:27 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/09/15 09:45:27 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [6]:
data = [
    ("Souvik", 72, 85, 95),
    ("Soukarjya", 32, 56, 46),
    ("Sandip", 74, 38, 66),
    ("Prodipta", 76, 89, 31),
    ("RamaSai", 69, 78, 38),
    ("Riya", 78, 82, 96),
    ("Padma", 46, 53, 49)
]

columns = ["name", "Chemistry", "Data Science", "Painting"]

df = spark.createDataFrame(data, columns)
df.show()

+---------+---------+------------+--------+
|     name|Chemistry|Data Science|Painting|
+---------+---------+------------+--------+
|   Souvik|       72|          85|      95|
|Soukarjya|       32|          56|      46|
|   Sandip|       74|          38|      66|
| Prodipta|       76|          89|      31|
|  RamaSai|       69|          78|      38|
|     Riya|       78|          82|      96|
|    Padma|       46|          53|      49|
+---------+---------+------------+--------+

In [7]:
# Using the built-in melt function
melted_df = df.melt(
    ids=["name"],                           # Columns to keep
    values=["Chemistry", "Data Science", "Painting"],  # Columns to unpivot
    variableColumnName="subject",           # Name for column names
    valueColumnName="score"                 # Name for values
)


print("Melted DataFrame: ")
melted_df.show()

Melted DataFrame:

+---------+------------+-----+
|     name|     subject|score|
+---------+------------+-----+
|   Souvik|   Chemistry|   72|
|   Souvik|Data Science|   85|
|   Souvik|    Painting|   95|
|Soukarjya|   Chemistry|   32|
|Soukarjya|Data Science|   56|
|Soukarjya|    Painting|   46|
|   Sandip|   Chemistry|   74|
|   Sandip|Data Science|   38|
|   Sandip|    Painting|   66|
| Prodipta|   Chemistry|   76|
| Prodipta|Data Science|   89|
| Prodipta|    Painting|   31|
|  RamaSai|   Chemistry|   69|
|  RamaSai|Data Science|   78|
|  RamaSai|    Painting|   38|
|     Riya|   Chemistry|   78|
|     Riya|Data Science|   82|
|     Riya|    Painting|   96|
|    Padma|   Chemistry|   46|
|    Padma|Data Science|   53|
+---------+------------+-----+
only showing top 20 rows