In [1]:
from pyspark.sql import SparkSession, Row

spark = SparkSession.builder.appName("RowExample").getOrCreate()

your 131072x1 screen size is bogus. expect trouble
25/08/19 14:46:29 WARN Utils: Your hostname, KLZPC0015 resolves to a loopback address: 127.0.1.1; using 172.25.17.96 instead (on interface eth0)
25/08/19 14:46:29 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/08/19 14:46:32 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
data = [
    (1, "Manta", 75000, "IT", 24),
    (2, "Dipankar", 30000, "Post Master", 27),
    (3, "Souvik", 60000, "Army Officer", 27),
    (4, "Soukarjya", 45000, "BDO", 26),
    (5, "Arvind", 35000, "Business Data Analyst", 28)
]

In [3]:
df = spark.createDataFrame(data, ["id", "name", "salary", "department", "age"])
df.show()

+---+---------+------+--------------------+---+
| id|     name|salary|          department|age|
+---+---------+------+--------------------+---+
|  1|    Manta| 75000|                  IT| 24|
|  2| Dipankar| 30000|         Post Master| 27|
|  3|   Souvik| 60000|        Army Officer| 27|
|  4|Soukarjya| 45000|                 BDO| 26|
|  5|   Arvind| 35000|Business Data Ana...| 28|
+---+---------+------+--------------------+---+

In [4]:
print("Order by Salary asceding - Default:")
df.orderBy("salary").show()

Order by Salary asceding - Default:

+---+---------+------+--------------------+---+
| id|     name|salary|          department|age|
+---+---------+------+--------------------+---+
|  2| Dipankar| 30000|         Post Master| 27|
|  5|   Arvind| 35000|Business Data Ana...| 28|
|  4|Soukarjya| 45000|                 BDO| 26|
|  3|   Souvik| 60000|        Army Officer| 27|
|  1|    Manta| 75000|                  IT| 24|
+---+---------+------+--------------------+---+

In [5]:
from pyspark.sql.functions import col

In [6]:
print("Order by Salary (Desceding): ")
df.orderBy(col("salary").desc()).show()

Order by Salary (Desceding):

+---+---------+------+--------------------+---+
| id|     name|salary|          department|age|
+---+---------+------+--------------------+---+
|  1|    Manta| 75000|                  IT| 24|
|  3|   Souvik| 60000|        Army Officer| 27|
|  4|Soukarjya| 45000|                 BDO| 26|
|  5|   Arvind| 35000|Business Data Ana...| 28|
|  2| Dipankar| 30000|         Post Master| 27|
+---+---------+------+--------------------+---+

In [7]:
print("Order by Department (Ascending) and Salary (Ascending): ")
df.orderBy(["department", "salary"]).show()

Order by Department (Ascending) and Salary (Ascending):

+---+---------+------+--------------------+---+
| id|     name|salary|          department|age|
+---+---------+------+--------------------+---+
|  3|   Souvik| 60000|        Army Officer| 27|
|  4|Soukarjya| 45000|                 BDO| 26|
|  5|   Arvind| 35000|Business Data Ana...| 28|
|  1|    Manta| 75000|                  IT| 24|
|  2| Dipankar| 30000|         Post Master| 27|
+---+---------+------+--------------------+---+

In [8]:
print("Order by Department (Ascending) and Salary (Descending): ")
df.orderBy(col("department").asc(), col("salary").desc()).show()

Order by Department (Ascending) and Salary (Descending):

+---+---------+------+--------------------+---+
| id|     name|salary|          department|age|
+---+---------+------+--------------------+---+
|  3|   Souvik| 60000|        Army Officer| 27|
|  4|Soukarjya| 45000|                 BDO| 26|
|  5|   Arvind| 35000|Business Data Ana...| 28|
|  1|    Manta| 75000|                  IT| 24|
|  2| Dipankar| 30000|         Post Master| 27|
+---+---------+------+--------------------+---+

In [9]:
print("Order by Salary (Ascending) Explicitely Set: ")
df.orderBy(col("salary"), ascending=True).show()

Order by Salary (Ascending) Explicitely Set:

+---+---------+------+--------------------+---+
| id|     name|salary|          department|age|
+---+---------+------+--------------------+---+
|  2| Dipankar| 30000|         Post Master| 27|
|  5|   Arvind| 35000|Business Data Ana...| 28|
|  4|Soukarjya| 45000|                 BDO| 26|
|  3|   Souvik| 60000|        Army Officer| 27|
|  1|    Manta| 75000|                  IT| 24|
+---+---------+------+--------------------+---+

In [10]:
print("Order by Salary (Descending) Explicitely Set:")
df.orderBy(col("salary"), ascending=False).show()

Order by Salary (Descending) Explicitely Set:

+---+---------+------+--------------------+---+
| id|     name|salary|          department|age|
+---+---------+------+--------------------+---+
|  1|    Manta| 75000|                  IT| 24|
|  3|   Souvik| 60000|        Army Officer| 27|
|  4|Soukarjya| 45000|                 BDO| 26|
|  5|   Arvind| 35000|Business Data Ana...| 28|
|  2| Dipankar| 30000|         Post Master| 27|
+---+---------+------+--------------------+---+