In [1]:
from pyspark.sql import SparkSession, Row

spark = SparkSession.builder.appName("RowExample").getOrCreate()

your 131072x1 screen size is bogus. expect trouble
25/08/19 13:02:49 WARN Utils: Your hostname, KLZPC0015 resolves to a loopback address: 127.0.1.1; using 172.25.17.96 instead (on interface eth0)
25/08/19 13:02:49 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/08/19 13:02:56 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/08/19 13:03:03 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/08/19 13:03:03 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
25/08/19 13:03:03 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
25/08/19 13:03:03 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
25/08/19 13:03:03 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.

In [2]:
from pyspark.sql.functions import col, expr, when, lit

In [3]:
data = [
    (1, "Manta", 75000, "IT", 24),
    (2, "Dipankar", 30000, "Post Master", 27),
    (3, "Souvik", 60000, "Army Officer", 27),
    (4, "Soukarjya", 45000, "BDO", 26),
    (5, "Arvind", 35000, "Business Data Analyst", 28)
]

In [4]:
df = spark.createDataFrame(data, ["id", "name", "salary", "department", "age"])
df.show()

+---+---------+------+--------------------+---+
| id|     name|salary|          department|age|
+---+---------+------+--------------------+---+
|  1|    Manta| 75000|                  IT| 24|
|  2| Dipankar| 30000|         Post Master| 27|
|  3|   Souvik| 60000|        Army Officer| 27|
|  4|Soukarjya| 45000|                 BDO| 26|
|  5|   Arvind| 35000|Business Data Ana...| 28|
+---+---------+------+--------------------+---+

In [5]:
df.select("name", "salary").show()

+---------+------+
|     name|salary|
+---------+------+
|    Manta| 75000|
| Dipankar| 30000|
|   Souvik| 60000|
|Soukarjya| 45000|
|   Arvind| 35000|
+---------+------+

In [6]:
df.select(col("name"), col("department")).show()

+---------+--------------------+
|     name|          department|
+---------+--------------------+
|    Manta|                  IT|
| Dipankar|         Post Master|
|   Souvik|        Army Officer|
|Soukarjya|                 BDO|
|   Arvind|Business Data Ana...|
+---------+--------------------+

In [7]:
df.select(col("name").alias("Employee_Name"), col("salary").alias("Employee_Salary")).show()

+-------------+---------------+
|Employee_Name|Employee_Salary|
+-------------+---------------+
|        Manta|          75000|
|     Dipankar|          30000|
|       Souvik|          60000|
|    Soukarjya|          45000|
|       Arvind|          35000|
+-------------+---------------+

In [8]:
df.select(expr("name"), expr("salary * 1.10 as increased_salary")).show()

+---------+----------------+
|     name|increased_salary|
+---------+----------------+
|    Manta|        82500.00|
| Dipankar|        33000.00|
|   Souvik|        66000.00|
|Soukarjya|        49500.00|
|   Arvind|        38500.00|
+---------+----------------+

In [9]:
df.select("name", "salary", when(col("salary") > 50000, "high").otherwise("low").alias("Salary_Category")).show()

+---------+------+---------------+
|     name|salary|Salary_Category|
+---------+------+---------------+
|    Manta| 75000|           high|
| Dipankar| 30000|            low|
|   Souvik| 60000|           high|
|Soukarjya| 45000|            low|
|   Arvind| 35000|            low|
+---------+------+---------------+

In [10]:
df.selectExpr("name", "salary * 2 as double_salary").show()

+---------+-------------+
|     name|double_salary|
+---------+-------------+
|    Manta|       150000|
| Dipankar|        60000|
|   Souvik|       120000|
|Soukarjya|        90000|
|   Arvind|        70000|
+---------+-------------+

In [11]:
df.select("name", "department", lit("Active").alias("status")).show()

+---------+--------------------+------+
|     name|          department|status|
+---------+--------------------+------+
|    Manta|                  IT|Active|
| Dipankar|         Post Master|Active|
|   Souvik|        Army Officer|Active|
|Soukarjya|                 BDO|Active|
|   Arvind|Business Data Ana...|Active|
+---------+--------------------+------+

In [12]:
columns_to_select = ["name", "salary", "department", "age"]
df.select(*columns_to_select).show()

+---------+------+--------------------+---+
|     name|salary|          department|age|
+---------+------+--------------------+---+
|    Manta| 75000|                  IT| 24|
| Dipankar| 30000|         Post Master| 27|
|   Souvik| 60000|        Army Officer| 27|
|Soukarjya| 45000|                 BDO| 26|
|   Arvind| 35000|Business Data Ana...| 28|
+---------+------+--------------------+---+

In [13]:
df.select([col for col in df.columns if col != "age"]).show()

+---+---------+------+--------------------+
| id|     name|salary|          department|
+---+---------+------+--------------------+
|  1|    Manta| 75000|                  IT|
|  2| Dipankar| 30000|         Post Master|
|  3|   Souvik| 60000|        Army Officer|
|  4|Soukarjya| 45000|                 BDO|
|  5|   Arvind| 35000|Business Data Ana...|
+---+---------+------+--------------------+