In [1]:
from pyspark.sql import SparkSession, Row

spark = SparkSession.builder.appName("RowExample").getOrCreate()

your 131072x1 screen size is bogus. expect trouble
25/08/19 13:02:52 WARN Utils: Your hostname, KLZPC0015 resolves to a loopback address: 127.0.1.1; using 172.25.17.96 instead (on interface eth0)
25/08/19 13:02:52 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/08/19 13:02:57 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/08/19 13:03:05 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/08/19 13:03:05 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
25/08/19 13:03:05 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
25/08/19 13:03:05 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
25/08/19 13:03:05 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
25/08/19 13:03:05 WARN Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.

In [2]:
data = [
    (1, "Dipankar", 27),
    (2, "Shankha", 26),
    (3, "Tuhin, one of my highter secondary school friend, who is a cousin brother of my another secondary school friend", 27)
]

df = spark.createDataFrame(data).toDF("id", "name", "age")
df.show()

+---+--------------------+---+
| id|                name|age|
+---+--------------------+---+
|  1|            Dipankar| 27|
|  2|             Shankha| 26|
|  3|Tuhin, one of my ...| 27|
+---+--------------------+---+

In [3]:
df.show(2)

+---+--------+---+
| id|    name|age|
+---+--------+---+
|  1|Dipankar| 27|
|  2| Shankha| 26|
+---+--------+---+
only showing top 2 rows

In [4]:
df.show(truncate=True)

+---+--------------------+---+
| id|                name|age|
+---+--------------------+---+
|  1|            Dipankar| 27|
|  2|             Shankha| 26|
|  3|Tuhin, one of my ...| 27|
+---+--------------------+---+

In [5]:
df.show(truncate=False)

+---+---------------------------------------------------------------------------------------------------------------+---+
|id |name                                                                                                           |age|
+---+---------------------------------------------------------------------------------------------------------------+---+
|1  |Dipankar                                                                                                       |27 |
|2  |Shankha                                                                                                        |26 |
|3  |Tuhin, one of my highter secondary school friend, who is a cousin brother of my another secondary school friend|27 |
+---+---------------------------------------------------------------------------------------------------------------+---+

In [6]:
df.show(vertical=True)

-RECORD 0--------------------
 id   | 1
 name | Dipankar
 age  | 27
-RECORD 1--------------------
 id   | 2
 name | Shankha
 age  | 26
-RECORD 2--------------------
 id   | 3
 name | Tuhin, one of my ...
 age  | 27

In [7]:
df.show(truncate=10)

+---+----------+---+
| id|      name|age|
+---+----------+---+
|  1|  Dipankar| 27|
|  2|   Shankha| 26|
|  3|Tuhin, ...| 27|
+---+----------+---+